services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: dagster
      POSTGRES_PASSWORD: dagster
      POSTGRES_DB: dagster
    volumes:
      - pgdata:/var/lib/postgresql/data
  dagster-daemon:
    build:
      context: .
    entrypoint: ["dagster-daemon", "run", "-w", "workspace.yaml"]
    depends_on:
      - postgres
    volumes:
      - ./dagster-compose.yaml:/app/dagster/dagster.yaml:ro
      - dagster:/app/work:rw
  dagster-webserver:
    build:
      context: .
    ports:
      - 3000:3000
    entrypoint: ["dagster-webserver", "--host", "0.0.0.0", "-w", "workspace.yaml"]
    depends_on:
      - postgres
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/dagit_info"]
      interval: 30s
      timeout: 10s
      start_period: 60s
      retries: 3
    volumes:
      - ./dagster-compose.yaml:/app/dagster/dagster.yaml:ro
      - dagster:/app/work:rw
  slapd:
    image: thoteam/slapd-server-mock
    ports:
      - 636:636
    volumes:
      - ./assets/raw-data/ldap/:/bootstrap/
    expose:
      - 636
  mailpit:
    image: axllent/mailpit:v1.28
    ports:
      - 1025:1025
      - 8025:8025
    environment:
      - MP_SMTP_AUTH_ALLOW_INSECURE=1
      - MP_SMTP_AUTH_ACCEPT_ANY=1
      - MP_UI_AUTH=user:password
    expose:
      - 8025
volumes:
  pgdata:
  dagster:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: mode=1777
