services:
  dagster-daemon:
    build:
      context: .
    environment:
      - DAGSTER_HOME=/app/work
      - MEX_WORK_DIR=/app/work
    entrypoint: ["dagster-daemon", "run", "--module-name", "mex.extractors"]
    volumes:
      - work:/app/work:rw
  dagster-webserver:
    build:
      context: .
    ports:
      - 3000:3000
    environment:
      - DAGSTER_HOME=/app/work
      - MEX_WORK_DIR=/app/work
    entrypoint: ["dagster-webserver", "--host", "0.0.0.0", "--module-name", "mex.extractors"]
    expose:
      - 3000
    volumes:
      - work:/app/work:rw
  slapd:
    image: thoteam/slapd-server-mock
    ports:
      - 389:389
      - 636:636
    volumes:
      - ./assets/raw-data/ldap/:/bootstrap/
    expose:
      - 389
      - 636
volumes:
  work:
